html {
    font-size: 10px;
}

.px {
    font-size: 10px;
}

.rem {
    font-size: 2rem;
}
.em {
    font-size: 2em; 
}
.app {
    background-color: red; 
    /* 높이의 절반 */
    width: 50vw;
     /*너비의 절반  */
    height: 50vh;
}
.color-test {
    background-color: red;
}